*{
    margin:0;
    padding:0;
    /* background-color: #111; */
    box-sizing: border-box;
    font-family: gilroy;
    color:#fff
    
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width:100%;
    background-color: black;
}
#page2 h1{
    color: black;
    font-size: 45vw;
    font-weight: 500;
    font-family: helvetica;
    /* transform: translate(-185%); */
}
#page2{
    padding: 1vw 0vw;
    height: 100%;
    width:100%;
    background-color:rgb(119, 217, 250);
    /* padding: 20px; */
    /* gap: 20px; */
}

#page3{
    height: 100%;
    width:100%;
    background-color: black;
}

/* 
#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(166, 233, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(66, 163, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(16, 86, 109);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 100px;
    width: 100px;
    background-color: crimson;
}

#page2 h1,h2{
    background-color:crimson;
    padding:5px;
    font-size: 40px;
} */